In [2]:
#import libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [4]:
#read in data
fuel_df = pd.read_csv('https://bit.ly/HDSC-StageOneDataset')

In [5]:
#preview data
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [7]:
#check for duplicate rows
sum(fuel_df.duplicated())

0

In [8]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [10]:
#check for NA
fuel_df.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [12]:
fuel_df['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [ ]:
fuel_df.corr()

In [14]:
A = [1,2,3,4,5,6] 
B = [13, 21, 34]

In [19]:
append = A.append(B)

In [87]:
A+B

[1, 2, 3, 4, 5, 6, 13, 21, 34, [13, 21, 34], 13, 21, 34]

In [21]:
type(append)

NoneType

In [23]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [28]:
array = np.array([(1,0,0),(0,1,0),(0,0,1)])

In [29]:
array

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [36]:
#Q3
fuel_df.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [61]:
#Q4 standard deviation
round(fuel_df['fuel_mmbtu_per_unit'].std(),ndigits=3)

10.6

In [60]:
# 75% quantile
round(fuel_df['fuel_mmbtu_per_unit'].quantile(0.75),ndigits=3)

17.006

In [86]:
#Q5 skew
round(fuel_df['fuel_qty_burned'].skew(),ndigits=2)

15.85

In [85]:
#kurtosis
round(fuel_df.kurtosis(),ndigits=2)

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

In [57]:
#Q6 percentage
round(fuel_df['fuel_unit'].isna().sum()/len(fuel_df)*100,ndigits=3)

0.61

In [49]:
#Q8 correlation
fuel_df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [56]:
#q10
round(fuel_df.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean(),ndigits=3)

report_year
1994       63.636
1995       32.735
1996     9196.706
1997    11140.197
1998      287.154
1999       25.552
2000      985.363
2001       60.050
2002       47.594
2003       55.663
2004      139.524
2005       41.438
2006       38.657
2007       43.325
2008       58.588
2009      652.694
2010       91.862
2011       59.775
2012       60.995
2013      172.308
2014      192.737
2015      326.536
2016      103.902
2017       46.197
2018      499.270
Name: fuel_cost_per_unit_delivered, dtype: float64

In [62]:
#Q9 seelect coal
fuel_df_coal = fuel_df[fuel_df['fuel_type_code_pudl'] == 'coal']

In [63]:
fuel_df_coal.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922,44.24,43.25,1.850

In [79]:
cost = fuel_df_coal.groupby(['report_year'])['fuel_cost_per_unit_burned].sum()

SyntaxError: EOL while scanning string literal (<ipython-input-79-16bb184c69f5>, line 1)

In [80]:
#%change =
cost

report_year
1994     59215.371
1995     13704.146
1996     12087.581
1997     11308.641
1998    308602.749
1999     14774.389
2000     69796.564
2001     14209.655
2002      8667.629
2003      8791.737
2004      9174.146
2005     10666.724
2006     11564.840
2007     12011.237
2008     13707.916
2009     14525.653
2010     58305.055
2011     16047.700
2012     16473.907
2013     16184.979
2014     14446.172
2015     12103.496
2016     10120.573
2017      9037.849
2018    254052.695
Name: fuel_cost_per_unit_delivered, dtype: float64

In [83]:
#change 
change = 308602.749/59215.371-1

In [84]:
change

4.2115311242413735